{% extends "base.html" %}
{% import "macro/utils.html" as utils %}

{%- block head %}
{{ utils::og(title="Hi(👋), I'm kosh.", description="about", type="website", url="about") }}
<title> Hi(👋) | kosh.dev</title>
{% endblock -%}

{% block content %}

<div class="prof">
    <img class="prof-icon" src="https://avatars.githubusercontent.com/u/64259962?v=4">
    <div class="prof-box">
        <div class="prof-text"><p>{ Hi(👋), I'm kosh (Koshiro Onuki).</p></div>
        <div class="prof-text"><a href="https://github.com/llbxg">llbxg | GitHub</a></div>
    </div>
</div>

<div class="small-title">Publications</div>
{% set article = get_section(path="article/_index.md") %}
{% for page in article.pages %}
    {% if "presentation" in page.taxonomies.tags or "paper" in page.taxonomies.tags %}
    {{ utils::card(page=page) }}
    {% endif %}
{% endfor %}


<br><hr>

<div class="space-1"></div>

<h1>Site Policy</h1>

<h2>
    免責事項
</h2>

<p>当サイトに情報を掲載するにあたって、その内容、機能等について細心の注意を払っておりますが、この情報の正確性および完全性を保証するものではありません。</p>
<p>当サイト管理人は、予告なしに、当サイトに掲載されている情報を変更することがあります。</p>
<p>また、ご利用者様が当サイトに含まれる情報もしくは内容をご利用されたことで直接・間接的に生じた損失に関し一切責任を負うものではありません。</p>
<br>

<h2>
    リンクについて
</h2>
<p>当サイトはリンクフリーとなっております。但し、公序良俗に反したサイトへのリンクは禁止致します。
    リンクに関連した賠償、苦情などに関して、当サイト管理人は何ら責任を負いませんのでご了承ください。</p>

<p>当サイトでは、第三者のサイトへのリンクには{}を使用し、当サイトへのリンクには[]を使用しております。</p>

<br>

<h2>
    JavaScript
</h2>

<p>当サイトでは、JavaScriptを使用しています。ご使用のブラウザー設定においてJavaScriptを(有効)にしていない場合には、正しく機能しない、もしくは正しく表示されない場合があります。</p>

<br>

<h2>アクセス解析について</h2>
<p>当サイトでは、Googleアナリティクスを使用しています。このGoogleアナリティクスはデータの収集のためにCookieを使用しています。このデータは匿名で収集されており、個人を特定するものではありません。</p>
<p>この機能はCookieを無効にすることで収集を拒否することが出来ます。</p>
<p>この規約に関しての詳細は<a href="https://marketingplatform.google.com/about/analytics/terms/jp/">Google アナリティクス利用規約</a>のページや<a href="https://policies.google.com/technologies/ads?gl=jp">ポリシーと規約ページ | Google</a>をご覧ください。</p>

{% endblock content %}